@import "~font-awesome/scss/font-awesome.scss";

$app-bg: #2a2a2a;
$app-color: #eee8f3;
$app-font: 'Open Sans', sans-serif;
$app-red: #ff6666;


body {
  background-color: $app-bg;
  font-size: 150%;
  color: $app-color;
  font-family: $app-font;
  width: 80%;
  margin: 1% 10%;
  text-transform: uppercase;
}

.app-red input {
  border: 2px solid $app-red;;
}

.app-green input {
  border: 2px solid #fff;
}

h1 {
  margin-top: 5%;
}

nav li{
  list-style-type: none;
  float: left;
  width: 25%;
  text-align: center;
}

a {
  color: $app-color;
  text-decoration: none;
}

button, input, select {
  padding: .5% 1%;
  margin: 0 1%;
  border-radius: 3px;
  font-size: 70%;
}

button, input {
  text-align: center;
  color: $app-color;
  background-color: #131313;
}

.blue {
  background-color: $app-red;
}

.active{
  background-color: $app-red;
}

.error {
  color: $app-red;
  font-size: 110%;
  margin: 0 1%;
}

 i {
   display: inline-block;
   text-align: center;
   width: 100%;
   padding-top: 3%;
   transition: all 2s;
 }

.move {
  color: $app-red;
  text-align: left;
}
